body {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;

    background-color: #2B2E34;
    background-image: url(/img/img-background.png);
    background-repeat: no-repeat;
    background-position: bottom;

    position: relative;
}

.button {
    background-color: #00C2FF;
    border: none;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.cabecalho{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 40px 32px 40px 60px;
} 

.cabecalho-link {
    background-color: #2B2E34;
}

.cabecalho-inside-menu{
    position: absolute;
    left: 100vw;
    color: #AFC0E2;
    top: 124px;
    width: 100%;
    z-index: 10; /* Utilizamos para deixar o menu na frente de tudo. O ícone de uma section estava ficando na frente dele. */
}

.cabecalho-inside-menu_ativo {
    left: 0;
}

.menu-item-link {
    background-color: #2B2E34;
    /* background-color: pink; */
    color: #FFFFFF;
    padding: 12px 30px;
    display: block;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.5;
    /* Explicação do uso de box-shadow para deixar a borda dentro do elemento
    https://www.delftstack.com/pt/howto/css/css-inner-border/#use-a-propriedade-box-shadow-para-definir-a-borda-interna-em-css */
    box-shadow: 0px -1px 0px 0px #afc0e2 inset;
}

a.menu-item-link:hover {
    background-color: #0D1423;
    color: #00C2FF;
}

.last-menu-item-link {
    box-shadow: 0px 0px 0px 0px #afc0e2 inset;
    border-radius: 0px 0px 8px 8px;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0 30px 222px;
    text-align: center;
}

.introducao{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.introducao-titulo{
    color: #FFFFFF;
    margin-bottom: 14px;
    font-size: 35px;
    line-height: 48px;
}

.introducao-paragrafo{
    color: #AFC0E2;
    font-size: 16px;
    padding: 0 40px;
}

.conteudo{
    background-color: #0D1423;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.conteudo-icone{
    position: relative; 
    top: -18px; 
}

.conteudo-paragrafo{
    color: #AFC0E2;
    /* padding: 27px 30px 60px 30px; */
    margin-bottom: 27px;
    padding-left: 30px;
    padding-right: 30px;
}

.conteudo-paragrafo p {
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 1.4;
}

.open-modal{
    color: #00C2FF;
    font-size: 14px;
}

.card {
    background-color: #0D1423;
    border-radius: 8px;
    color: #AFC0E2;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 70px;
    padding-bottom: 43px;
    padding-top: 50px;
    position: relative;
}

.card p {
    margin-bottom: 16px;
}

.l-card-icon {
    position: absolute;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) */
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -15px;
}
.l-card-link-position {
    margin-top: 20px;
}

.open-modal {
    background-color: #0D1423;

}

.modal {
    background-color: #2B2E34;
    border-radius: 8px;
    color: white;
    display: none;
    padding-bottom: 18px;
    padding-top: 18px;
    padding-left: 23px;
    padding-right: 23px;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 385px;
    border: 1px solid #AFC0E2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.modal-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 17px;
}

.modal-content {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 17px;
}
/* A classe .show faz a modal aparecer */
.modal.show {
    display: block;
}

.duas-colunas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

/* Tablet */
@media (min-width: 834px) {
    /* STYLES HERE */
    .duas-colunas {
        align-items: stretch;
        flex-direction: row;
    }
    .card {
        margin-right: 0;
    }
}