body{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;

    background-color: #2B2E34;
    background-image: url(/img/img-background.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.cabecalho{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 40px 32px 40px 60px;
}

.cabecalho-logo{
    
}

.cabecalho-link{

}

.cabecalho-imagem{
    
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0 30px;
    text-align: center;
}

.introducao{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.introducao-titulo{
    color: #FFFFFF;
    margin-bottom: 14px;
    font-size: 35px;
    line-height: 48px;
}

.introducao-paragrafo{
    color: #AFC0E2;
    font-size: 16px;
    padding: 0 40px;
}

.conteudo{
    background-color: #0D1423;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.conteudo-icone{
    position: relative; 
    top: -18px; 
}

.conteudo-paragrafo{
    color: #AFC0E2;
    padding: 27px 30px 60px 30px;
}

.open-modal{
    color: #00C2FF;
    font-size: 14px;
}

.card {
    background-color: #0D1423;
    color: #AFC0E2;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.l-card-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}