body{
background-color: #2B2E34;

}

.cabecalho{

}

.cabecalho-logo{

}

.cabecalho-link{

}

.cabecalho-imagem{

}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 53px;
    margin: auto;
    padding: 0 30px;
}

.introducao{
height: 132px;
gap: 14px;
width: 100%;
display: flex;
align-items: center;
flex-direction: column;

}

.introducao-titulo{
color: #FFFFFF;
text-align: center;

font-family: 'Nunito', sans-serif;
font-weight: 700;
font-size: 35px;
line-height: 48px;
}

.introducao-paragrafo{
color: #AFC0E2;
text-align: ;

font-family: 'Nunito', sans-serif;
font-weight: 700;
font-size: 16px;
height: 22px;

}

.conteudo{
background-color: #0D1423;
height: 150px;
width: 100%;
border-radius: 8px;

display: flex;
align-items: center;
flex-direction: column; 

}

.conteudo-icone{
    position: relative; 
    top: -18px; 
}

.conteudo-paragrafo{
color: #AFC0E2;

font-family: 'Nunito', sans-serif;
font-size: 14px;
line-height: 60px;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.open-modal{
color: #00C2FF;
font-size: 14px;
font-family: 'Nunito', sans-serif;
}
